h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #333333;
    font-size: 40pt;
}

.head {
    color: #333333;
}

.main {
    max-width: 100%;
}

.main h2 {
    font-size: 30pt;
}

.larger {
    width: 100%;
}

p { 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333333;
    font-size: 10pt;
    text-align: left;
}

#quote {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #BB2030;
}

footer { 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333333;
    font-size: 10pt;
    text-align: center;
    padding: 60px;
}

.container {
    position: relative;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    left: 300px;
}

.pics {
    text-align: center;
    align-items: center;
}

#logo {
    position: absolute;
    top: 25px;
    left: 25px;
}

.homelogo {
    position: relative;
    top: 15px;
    left: -5px;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.bottomright {
    position: absolute;
    bottom: 60px;
    right: 650px;
    text-align: left;
}

.bottomright p {
    text-align: left;
}

.bottomright h1 {
    font-size: 40pt;
    line-height: 10pt;
}

.bottomright p {
    font-size: 14pt;
    line-height: 2pt;
    font-weight: 700;
}

nav {
    display: block;
    padding: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    font-size: 12pt;
}

li a {
    color: #333333;
}

li a:visited {
    text-decoration: none;
    color: #333333;
}

.photo {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}


article {
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#orangeblob {
    position: relative;
    top: 10px;
    left: -100px;
    z-index: 1;
}

#redblob {
    position: relative;
    top: -200px;
    left: 700px;
    z-index: 1;
}

#purpleblob {
    position: relative;
    top: -300px;
    left: -100px;
    z-index: 1;
}

.book {
    position: absolute;
    top: 450px;
    left: 300px;
    z-index: 2;
}

#app {
    position: absolute;
    top: 875px;
    left: 900px;
    z-index: 2;
}

.cards {
    position: absolute;
    top: 1250px;
    left: 300px;
    z-index: 2;
}

#rand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pr {
    color: #C3A489;
    margin-block-start: 0;
    margin-block-end: 0;
}

#bus {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.un {
    color: #BB2030;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sideheader {
    flex: 1;
    color: #333333;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 40px;
}

#animal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.an {
    color: #9787A0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#kaiser {
    background-color: #C8B6A6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cc {
    color: #C8B6A6;
    margin-block-start: 0;
    margin-block-end: 0;
}

#vision {
    background-color: #989A91;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ev {
    color: #989A91;
    margin-block-start: 0;
    margin-block-end: 0;
}

.int {
    color: #333333;
    margin-block-start: 0;
    margin-block-end: 0;
}

#talk {
    background-color: #8C95AC;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ted {
    color: #8C95AC;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

#prdeet {
    text-align: left;
    color: #E89E75;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

#prinfo {
    text-align: left;
    color: #E89E75;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    width: 500px;
    line-height: 1.45em;
}

#prmore {
    text-align: center;
    text-decoration: none;
    color: #E89E75;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
}

#prmore a {
    text-decoration: none;
    color: #E89E75;
}

#prmore:hover {
    text-decoration: none;
    background-color: #E89E75;
}

#prmore a:hover {
    color: #ffffff;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#prcontainer {
    position: absolute;
    top: 350px;
    left: 700px;
    z-index: 2;
}

#undeet {
    text-align: left;
    color: #BB2030;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

#uninfo {
    text-align: left;
    color: #BB2030;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    width: 500px;
    line-height: 1.45em;
}

#unmore {
    text-align: center;
    text-decoration: none;
    color: #BB2030;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
}

#unmore a {
    text-decoration: none;
    color: #BB2030;
}

#unmore:hover {
    text-decoration: none;
    background-color: #BB2030;
}

#unmore a:hover {
    color: #ffffff;
}


#uncontainer {
    position: absolute;
    top: 800px;
    left: 300px;
    z-index: 2;
}

#andeet {
    text-align: left;
    color: #79518F;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

#aninfo {
    text-align: left;
    color: #79518F;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    width: 500px;
    line-height: 1.45em;
}

#anmore {
    text-align: center;
    text-decoration: none;
    color: #79518F;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
}

#anmore a {
    text-decoration: none;
    color: #79518F;
}

#anmore:hover {
    text-decoration: none;
    background-color: #79518F;
}

#anmore a:hover {
    color: #ffffff;
}

#latest {
    text-align: center;
    text-decoration: none;
    color: #333333;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
}

#latest a {
    text-decoration: none;
    color: #333333;
}

#latest:hover {
    text-decoration: none;
    background-color: #333333;
}

#latest a:hover {
    color: white;
}

#ancontainer {
    position: absolute;
    top: 1200px;
    left: 700px;
    z-index: 2;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
    padding-top: 1em;
}

.layout {
    margin: auto;
    width: 100%;
}

#unitransfinal {
    text-align: center;
}

#uf {
    text-align: center;
}

.larger img {
 padding: 20px;   
}
#wireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#affinity {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#lofi {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#designsystem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .main {
        width: 80%;
        margin: auto;
    }

    .larger {
        width: 80%;
        margin: auto;
    }

    #layout {
        margin: auto;
    }

    .bottomright h1 {
        font-size: 60pt;
    }
}

@media screen and (min-width: 1000px) {
    .larger {
        width: 60%;
        margin: auto;
    }
}
